{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <script type="text/javascript" src="static/js/cookie/tarteaucitron.js"></script>
    <script type="text/javascript" >
      tarteaucitron.init({
        privacyUrl: "/rgpd" /* Privacy policy url */,
        bodyPosition:
          "bottom" /* or top to bring it as first element for accessibility */,
        hashtag: "#tarteaucitron" /* Open the panel with this hashtag */,
        cookieName: "tarteaucitron" /* Cookie name */,
        orientation: "middle" /* Banner position (top - bottom) */,
        groupServices: false /* Group services by category */,
        serviceDefaultState: "wait" /* Default state (true - wait - false) */,
        showAlertSmall: false /* Show the small banner on bottom right */,
        cookieslist: false /* Show the cookie list */,
        closePopup: false /* Show a close X on the banner */,
        showIcon: true /* Show cookie icon to manage cookies */,
        "iconSrc": "{% static 'images/favicon.png' %}", /* Optionnal: URL or base64 encoded image */
        iconPosition:
          "BottomRight" /* BottomRight, BottomLeft, TopRight and TopLeft */,
        adblocker: false /* Show a Warning if an adblocker is detected */,
        DenyAllCta: true /* Show the deny all button */,
        AcceptAllCta: true /* Show the accept all button when highPrivacy on */,
        highPrivacy: true /* HIGHLY RECOMMANDED Disable auto consent */,
        handleBrowserDNTRequest: false /* If Do Not Track == 1, disallow all */,
        removeCredit: false /* Remove credit link */,
        moreInfoLink: true /* Show more info link */,
        useExternalCss: false /* If false, the tarteaucitron.css file will be loaded */,
        useExternalJs: false /* If false, the tarteaucitron.js file will be loaded */,
        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
        readmoreLink: "" /* Change the default readmore link */,
        mandatory: true /* Show a message about mandatory cookies */,
        mandatoryCta: true /* Show the disabled accept button when mandatory on */,  
      });
      tarteaucitron.user.gtagUa = 'G-KXS05KHV5V';
      // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
      tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
      (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
      (tarteaucitron.job = tarteaucitron.job || []).push('instagram');
    </script>
    <title> La case à accras</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="description here"/>
    <meta name="keywords" content="keywords here"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />

    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}" />

    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      .carousel-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  
  
  </head>
  <body class="goto-here">
    <div id="fb-root"></div>
    
    <div class="py-1 bg-primary">
      <div class="container-fluid">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div class="icon mr-2 d-flex justify-content-center align-items-center">
                  <span class="icon-phone2"></span>
                </div>
                <span class="text">0690 24 55 37 </span>
              </div>
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div class="icon mr-2 d-flex justify-content-center align-items-center">
                  <span class="icon-paper-plane"></span>
                </div>
                <span class="text">contact@lacaseaaccras.com</span>
              </div>
              <div class="col-md-4 d-flex topper align-items-center text-lg-right">
                <span class="text">
                  Ouvert du: <br />
                  Mardi au Vendredi 9h00 à 12h30 / de 15h15 à 19h00
                  <br />
                  Samedi de 8h30 à 12h30 / de 15h15 à 19h00 - Dimanche de 9h00 à
                  12h30</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigation -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

                <a class="navbar-brand" href=""><img src="static/images/logo_casa.png" id="logA" alt="" srcset="" style="height: auto; width: 60%"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">         
                        <li class="nav-item dropdown" >
                        <a href="/" class="nav-link dropdown-toggle">Accueil</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a href="/about" class="dropdown-item">A-propos</a>
                            <a href="/blog" class="dropdown-item">Blog</a>
                            <a href="/contact" class="dropdown-item">Contact</a>
                        </div>
                        </li>         
                        <li class="nav-item dropdown" >
                        <a href="#"class="nav-link dropdown-toggle"
                        id="dropdown04"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"> Nos-produits</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a href="/fruits" class="dropdown-item">Fruits</a>
                            <a href="/legumes" class="dropdown-item">Légumes</a>
                            <a href="/corbeilles" class="dropdown-item">Corbeilles</a>
                        </div>
                        </li>
                        <li class="nav-item dropdown" >
                          <a href="#" class="nav-link dropdown-toggle" id="dropdown04"> Aide </a>
                          <div class="dropdown-menu" aria-labelledby="dropdown04">
                              <a class="dropdown-item" href="/rgpd">Politique de confidentialité</a>
                              <a class="dropdown-item" href="/mentionLegale">Mention légale</a>
                          </div>
                      </li>
                      <li class="nav-item cta cta-colored" >
                        {% if not user.is_authentificated %}

                        <a
                        class="nav-link "
                        href="#"
                        aria-haspopup="true"
                        aria-expanded="false"><span class="icon-shopping_cart"></span>
                          <button id="shopCart" type="button" class="btn" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                          sagittis lacus vel augue laoreet rutrum faucibus.">
                          </button>
                        </a>
                        {% endif %}


                      </li>
                      {% if not user.is_authenticated %}
                      <li class="nav-item" >
                        <a href="{% url 'signup' %}" class="" id=""> S'inscrire</a>
                      </li>
                      {% endif %}
                        
                        
                    
                </div>
            </nav>
        </div>
       
        {% block content %} {% endblock %}
    <footer class="ftco-footer ftco-section">
      <div class="container">
      <!--<div class="row">
        <div class="mouse">
          <a href="#" class="mouse-icon">
            <div class="mouse-wheel">
              <span class="ion-ios-arrow-up"></span>
            </div>
          </a>
        </div>
      </div>-->
      <div class="row mb-5">
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <div class="col-md">
              <h2 class="ftco-heading-2">Informations</h2>
      
              <div class="ftco-footer-widget mb-4">
                <ul class="list-unstyled">
                  <li>
                    <a href="#" class="py-2 d-block">
                      CGV
                    </a>
                  </li>
                  <li>
                    <a href="/mentionLegale" class="py-2 d-block">Mentions légales</a>
                  </li>
                  <li>
                    <a href="/contact" class="py-2 d-block">Contactez nous</a>
                  </li>
                  <li>
                    <a href="/rgpd" class="py-2 d-block">Politique de confidentialité</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Catégories</h2>
            <div class="d-flex">
              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                <li>
                  <a href="/fruits" class="py-2 d-block">Fruits</a>
                </li>
                <li>
                  <a href="/legumes" class="py-2 d-block">Légumes</a>
                </li>
                <li>
                  <a href="#" class="py-2 d-block">Corbeille de fruits</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Contactez-nous</h2>
            <div class="block-23 mb-3">
              <ul>
                <li>
                  <span class="icon icon-map-marker"></span
                  ><span class="text">Gosier</span
                  >
                </li>
                <li>
                  <a href="#"
                    ><span class="icon icon-phone"></span
                    ><span class="text">0690 24 55 37</span></a
                  >
                </li>
                <li>
                  <a href="#">
                    <span class="icon icon-envelope"></span>
                    <span class="text">contact@lacaseaaccras.com</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Suivez-nous</h2>
            
          
          <div class="instagram_post" postID="lacase_a_accras" width="width" height="height">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            
          </ul>
      
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
      
            <i class="icon-heart color-danger" aria-hidden="true"></i> by
            <a href="#" target="_blank">Concept-D</a>
          </p>
        </div>
      </div>
      </div>
    </footer>
    
    {% block js %}
    
    {% endblock %}
    <script type="text/javascript">
      console.log('test');
  
      var shopCart; // Déclaration de la variable shopCart
  
      if (localStorage.getItem('shopCart') == null) {
          shopCart = {};
      } else {
          shopCart = JSON.parse(localStorage.getItem('shopCart')); // Utilisation de JSON.parse pour convertir la chaîne en objet JavaScript
          document.getElementById('shopCart').innerHTML = "("+ Object.keys(shopCart).length + ")";
      }
  
      $(document).on('click', '.aj', function() {
          console.log("ajouter");
  
          var item_id = this.id.toString();
  
          console.log(item_id);
  
          if (shopCart[item_id] !== undefined) { // Remplacement de panierCart par shopCart
              var quantite = shopCart[item_id][0] +1;
              shopCart[item_id][0] = quantite;
              shopCart[item_id][2] += parseFloat(document.getElementById("price"+item_id).innerHTML);
          } else {
              var quantite = 1;
              var prix = parseFloat(document.getElementById("price"+item_id).innerHTML);
              var nom = document.getElementById("aa"+item_id).innerHTML;
              shopCart[item_id] = [quantite, nom, prix];
          }
  
          console.log(shopCart); // Remplacement de panier par shopCart
  
          localStorage.setItem('shopCart', JSON.stringify(shopCart));
          document.getElementById('shopCart').innerHTML = "Panier("+ Object.keys(shopCart).length + ")";
          console.log(shopCart);
      });
  
      AfficherList(shopCart);
  
      function AfficherList(shopCart) {
          var panierString = " ";
          panierString += "<h5>Voici votre liste</h5>";
          var index = 1;
  
          for (var x in shopCart) {
              var element = document.getElementById("aa"+x);
              if (element) {
                  panierString += index + ". ";
                  panierString += document.getElementById("aa"+x).innerHTML + " Qte: " + shopCart[x][0] + "</br>";
                  index += 1;
              }
          }
  
          panierString += "<a href='/checkout' class='btn btn-primary'>Payer</a>";
  
          $('[data-toggle="popover"]').popover();
          document.getElementById('shopCart').setAttribute('data-content', panierString);
      }
  </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{% static 'js/google-map.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
