{% extends 'shop/base.html' %} 

{% block content %} 

<!--<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
          <form method="post" action="/checkout/" class="billing-form">{% csrf_token %}
            <input type="hidden" class="form-control" id="itemsJson" name="itemsJson">
            <input type="hidden" class="amt" id="amt" >

            <h3 class="mb-4 billing-heading">Information personnelles</h3>
                <div class="row align-items-end">
                  <div class="col-md-6">
                    <div class="form-group" id="items">
                        <label for="firstname">Nom </label>
                      <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="lastname">Prénom</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
              </div>
              <div class="w-100"></div>
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="country">Pays</label>
                          <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="" class="form-control">
                            <option value="">France</option>
                          <option value="">Italy</option>
                          <option value="">Philippines</option>
                          <option value="">South Korea</option>
                          <option value="">Hongkong</option>
                          <option value="">Japan</option>
                        </select>
                      </div>
                      </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="streetaddress">Addresse postale</label>
                    <input type="text" class="form-control" placeholder="House number and street name">
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                    <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="townVille">Ville</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="postcodezip">Code postale</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                  <div class="form-group">
                      <label for="phone">Phone</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="emailaddress">Addresse email</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-12">
                  <div class="form-group mt-4">
                                      <div class="radio">
                                        <label class="mr-3"><input type="radio" name="optradio"> Créer un compte? </label>
                                        <label><input type="radio" name="optradio"> Ship to different address</label>
                                      </div>
                                  </div>
              </div>
              </div>
            </form>
                  </div>
                  <div class="col-xl-5">
            <div class="row mt-5 pt-3">
                <div class="col-md-12 d-flex mb-5">
                    <div class="cart-detail cart-total p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Total produit</h3>
                        <p class="d-flex">
                                  <span id="totalprice">Sous-total</span>
                                  <span id="amount">$20.60</span>
                              </p>
                              <p class="d-flex">
                                  <span>Delivery</span>
                                  <span>$0.00</span>
                              </p>
                              <p class="d-flex">
                                  <span>Discount</span>
                                  <span>$3.00</span>
                              </p>
                              <hr>
                              <p class="d-flex total-price">
                                  <span id="totalprice">Total</span>
                                  <span>$17.60</span>
                              </p>
                              </div>
                </div>
                <div class="col-md-12">
                    <div class="cart-detail p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Payment Method</h3>
                                  <div class="form-group" id="items">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="checkbox">
                                             <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                                          </div>
                                      </div>
                                  </div>
                                  <p><a href="#"class="btn btn-primary py-3 px-4">Place an order</a></p>
                              </div>
                </div>
            </div>
        </div> 
      </div>
    </div>
</section> section -->
<div class="hero-wrap hero-bread" style="background-image: url('static/images/category-3.jpg');"></div>
<div class="container">
  <div class="row no-gutters slider-text">
      <p class="breadcrumbs"><span class="mr-2"><a href="/">Accueil</a></span> <span>/ Panier</span></p>
  </div>
  <div class="col-md-9 ftco-animate text-center">
    <h1 class="mb-0 bread">Panier</h1>
    
  </div>

      <div class="row">
        <div class="col ">
          <ul class="list-group" id="item-list">
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="items"  id="items" >
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputEmail4">Nom</label>
                <input type="text" name="name"  id="name" class="form-control" id="inputtext" placeholder="Nom">
              </div>
              <div class="form-group col-md-3">
                <label for="inputEmail4">Email</label>
                <input type="email" name="email"  id="email" class="form-control" id="inputEmail4" placeholder="mail@mail.com">
              </div>
            
            <div class="form-group col-md-6">
              <label for="inputAddress">Addresse</label>
              <input type="text" name="address"  id="address" class="form-control" id="inputAddress" placeholder="votre adresse">
            </div>
          </div>
           
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="inputCity">Ville</label>
                <input type="text" name="ville"  id="ville" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Pays</label>
                <select id="inputState" name="pays" class="form-control">
                  <option selected>Guadeloupe</option>
                  <option>Martinique</option>
                  <option>Guyane</option>
                  <option>Dominique</option>

                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Code postal</label>
                <input name="zipcode"  id="zipcode" type="text" class="form-control" >
              </div>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Somme total</label>
              <input name="total"  id="total" type="readonly" class=" bg-primary form-control" >
            </div>
           
            <button type="submit" class="btn btn-primary">Commander</button>
          </form>
        </div>
      </div>
  
</div>

{% endblock %}
{% block js %} 
<script type="text/javascript">
  var shopCart;
  
  // Vérifier si localStorage est vide
  if (localStorage.getItem('shopCart') == null) {
    shopCart = {};
  } else {
    shopCart = JSON.parse(localStorage.getItem('shopCart'));
  }
  var total = 0;
  var nombre = 0;
  for (item in shopCart) {
    let nom = shopCart[item][1];
    let quantite = shopCart[item][0];
    let prix = shopCart[item][2];
    
    //Addition des nombres 
    nombre += quantite;
    total += prix;

    let itemString = `<li class="list-group-item">${nom}
      <span class="badge badge-primary badge-pill">Qte : ${quantite}</span>
      <span class="badge badge-warning badge-pill">Prix : ${prix} euros</span>
    </li>`;

    $('#item-list').append(itemString);
  }
    let itemNombre= `<li class="list-group-item">
      <b class="bg-danger">  TOTAL </b>
      <span class="badge badge-primary badge-pill">Qte : ${nombre}</span>
      <span class="badge badge-warning badge-pill">Prix : ${total} euros</span>

    </li>`;

    $('#item-list').append(itemNombre);
    $('#total').val(total + " EUROS");

    $('#items').val(JSON.stringify(shopCart));
</script>

{% endblock %}
