{% extends 'shop/base.html' %} 

{% block content %} 

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <img width="50%" height="50%" src="{{ product_object.image }}" alt="" class="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-warning display-3">
            {{ product.title }}
        </div>
        <div class="text-danger display-3">
            {{ product.price }}
        </div>
        <div class="text-warning display-3">
            {{ product.description }}
        </div>
        <a href="#"><button class="btn btn-success">Acheter</button></a>
    </div>
</div>
{% endblock %}
