{% extends 'shop/base.html' %} 
{% block title %} Légumes {% endblock %} 

{% load static %}


{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('static/images/image_5.jpg');"></div>
  <div class="container">
          <div class="row no-gutters slider-text">
              <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil</a></span> <span>/ {{product.0.category}}</span></p>
          </div>
          <div class="col-md ftco-animate">
            <h1 class="mb-0 bread">Légumes</h1>
            <h3 class="mb-0 "> Sélection de fruits de saison </h3>
              <p>Votre primeur « La case à accras » au Gosier a sélectionné pour vous les meilleurs légumes de saison.</p> 
              <p>Votre maraîcher privilégie les légumes de production française afin de vous assurer de trouver des produits de qualité toute l'année ! Peu importe la saison, vous trouverez des légumes divers et variés pour cuisiner toutes vos envies : soupes, miguan, gratins, ragoût, etc... </p>
              <p>Les étals de votre primeur regorgent également de nombreuses plantes aromatiques qui vous permettront d'apporter différentes saveurs à vos plats cuisinés (menthe, laurier, thym, café, etc...). </p>
          </div>
          <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-align-items-center">
                        <div class="col">
                            <input type="search" placeholder="Entrez le nom du produit souhaiter" name="item-name" class="form-control form-control-borderless"/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success">Recherche</button>
    
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <section class="ftco-section"> 
          {% for product in product_object %}
       
            <div class="row">
                <div id='valeur'></div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" width="100%" height="100%" src="{{product.image}}" alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">{{ product.title }}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc{{product.price}}">{{product.price}}€</span></p>
                                </div>
                            </div>
                            <a href="{{product.id}}" class="btn btn-warning">Voir</a>
                        <button id="{{ product.id }}" class="btn aj btn-success">Ajouter</button>
                        </div>
                    </div>
                </div>           
              {% endfor %}
            </div>
            <div class="row mt-5">
              <div class="col-md-3 offset-md-4 text-center">
                  <ul class="pagination block-27">
                      {% if product_object.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{product_object.has_previous_page_number}}">Précédent</a>
      
                          </li>
                      {% endif %}
      
                      <li class="page-item active">
                          <a class="page-link" href="?page={{product_object.number}}">{{product_object.number}}</a>
      
                      </li>
      
                      {% if product_object.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{product_object.has_next_page_number}}">Suivant</a>
      
                      </li>
                      {% endif %}
                  </ul>
              </div>
            </div>
        </section>
  </div>
</div>
{% endblock %}


{% block js %} 


{% endblock %}


