{% extends 'shop/base.html' %} 
{% block title %} mentionLegale {% endblock %} 
{% block content %} 
<div class="container">
    <div class="row no-gutters slider-text">
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Accueil</a></span> <span>/ mentionLegale</span></p>
    </div>
    <div class="col-md ftco-animate">
        <h1 class="mb-0 bread">Mention Légale</h1>
        <h2 class="mb-0 bread">Informations légales</h2>
        <h3 class="mb-0 bread">1. Présentation du site.</h3>
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site www.xxxxxxx.com l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
            <p>Propriétaire : xxxx xxxxx – SARL xxxxxxxxxxx – xxxxxxxx xxxxxxx</p>
            <p>Créateur : xxxx </p>
            <p>Responsable publication : xxxxx xxxxxx – xxxxxxxx@lacaseaaccras.fr</p>
            <p>Le responsable publication est une personne physique ou une personne morale.</p>
            <p>Webmaster : xxxxxxx xxxx – http://www.xxxxxxxl.fr</p>
            <p>Hébergeur : xxx – x xxx xxxxxxxxxx - xxxxxx xxxxxx - xxxxx</p> 
    </div>
</div>

{% endblock %}