{% extends 'base.html' %} 
{% block title %} Passer commande {% endblock %} 

{% block body%}
<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
          <form method="post" action="/checkout/" class="billing-form">{% csrf_token %}
            <input type="hidden" class="form-control" id="itemsJson" name="itemsJson">
            <input type="hidden" class="amt" id="amt" >

            <h3 class="mb-4 billing-heading">Information personnelles</h3>
                <div class="row align-items-end">
                  <div class="col-md-6">
                    <div class="form-group" id="items">
                        <label for="firstname">Nom </label>
                      <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="lastname">Prénom</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
              </div>
              <div class="w-100"></div>
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="country">Pays</label>
                          <div class="select-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="" class="form-control">
                            <option value="">France</option>
                          <option value="">Italy</option>
                          <option value="">Philippines</option>
                          <option value="">South Korea</option>
                          <option value="">Hongkong</option>
                          <option value="">Japan</option>
                        </select>
                      </div>
                      </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="streetaddress">Adress postale</label>
                    <input type="text" class="form-control" placeholder="House number and street name">
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                    <input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="towncity">Ville</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="postcodezip">Code postale</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-md-6">
                  <div class="form-group">
                      <label for="phone">Phone</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="emailaddress">Addresse email</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-12">
                  <div class="form-group mt-4">
                                      <div class="radio">
                                        <label class="mr-3"><input type="radio" name="optradio"> Créer un compte? </label>
                                        <label><input type="radio" name="optradio"> Ship to different address</label>
                                      </div>
                                  </div>
              </div>
              </div>
            </form><!-- END -->
                  </div>
                  <div class="col-xl-5">
            <div class="row mt-5 pt-3">
                <div class="col-md-12 d-flex mb-5">
                    <div class="cart-detail cart-total p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Cart Total</h3>
                        <p class="d-flex">
                                  <span id="totalprice">Subtotal</span>
                                  <span id="amount">$20.60</span>
                              </p>
                              <p class="d-flex">
                                  <span>Delivery</span>
                                  <span>$0.00</span>
                              </p>
                              <p class="d-flex">
                                  <span>Discount</span>
                                  <span>$3.00</span>
                              </p>
                              <hr>
                              <p class="d-flex total-price">
                                  <span id="totalprice">Total</span>
                                  <span>$17.60</span>
                              </p>
                              </div>
                </div>
                <div class="col-md-12">
                    <div class="cart-detail p-3 p-md-4">
                        <h3 class="billing-heading mb-4">Payment Method</h3>
                                  <div class="form-group" id="items">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="checkbox">
                                             <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                                          </div>
                                      </div>
                                  </div>
                                  <p><a href="#"class="btn btn-primary py-3 px-4">Place an order</a></p>
                              </div>
                </div>
            </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
</section> <!-- .section -->

<script>
if(localStorage.getItem('panier') == null ){
  var panier = {};
} else{
  panier = JSON.perse(localStorage.getItem('panier'));

}
console.log(panier);
var sum = 0;
var totalPrice = 0;

if ($.isEmptyObject(panier)){
  mystr = '<p>Panier a payer </p>'
  $('#items').append(mystr);
} else {
  for (item in panier ){
    let name = panier[item][1];
    let qty = panier[item][0];
    let itemPrice = panier[item][2];
    sum = sum + qty;
    totalPrice = totalPrice + qty* itemPrice;

    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
      ${name}
      <div><b> Price : ${itemPrice}</b></div>
      <span class="badge badge-primary badge-pill">${qty}</span>
    </li>`
    $('#items').append(mystr);
  }
  document.getElmentById('totalprice').innerHTML=totalPrice;
}
document.getElmentById('totalprice').innerHTML=totalPrice;

$('#itemsJson').val(JSON.stringify(panier));

{% if thank %}
alert('Thanks for ordering xx. {{id}}');
localStorage.clear();
document.location = "/";
{% endif %}

var test = `${totalPrice}`;
document.getElmentById("amt").value = test;
</script>
{% endblock %}
