{% block footer %}
<div class="row">
  <div class="mouse">
    <a href="#" class="mouse-icon">
      <div class="mouse-wheel">
        <span class="ion-ios-arrow-up"></span>
      </div>
    </a>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3">
    <div class="ftco-footer-widget mb-4">
      <div class="col-md">
        <h2 class="ftco-heading-2">Informations</h2>

        <div class="ftco-footer-widget mb-4">
          <ul class="list-unstyled">
            <li>
              <a href="#" class="py-2 d-block">
                CGV
              </a>
            </li>
            <li>
              <a href="/mentionLegale" class="py-2 d-block">Mentions légales</a>
            </li>
            <li><a href="/livraison" class="py-2 d-block">Livraison</a></li>
            <li>
              <a href="/contact" class="py-2 d-block">Contactez nous</a>
            </li>
            <li>
              <a href="/rgpd" class="py-2 d-block">Politique de confidentialité</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Catégories</h2>
      <div class="d-flex">
        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
          <li>
            <a href="/fruits" class="py-2 d-block">Fruits</a>
          </li>
          <li>
            <a href="/legumes" class="py-2 d-block">Légumes</a>
          </li>
          <li>
            <a href="#" class="py-2 d-block">Corbeille de fruits</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Contactez-nous</h2>
      <div class="block-23 mb-3">
        <ul>
          <li>
            <span class="icon icon-map-marker"></span
            ><span class="text">Gosier</span
            >
          </li>
          <li>
            <a href="#"
              ><span class="icon icon-phone"></span
              ><span class="text">00 00 00 00 00</span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="icon icon-envelope"></span
              ><span class="text">contact@lacaseaaccras.com</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Suivez-nous</h2>
      
    
    <div class="instagram_post" postID="lacase_a_accras" width="width" height="height">
      <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
      
    </ul>

    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>

      <i class="icon-heart color-danger" aria-hidden="true"></i> by
      <a href="#" target="_blank">Concept-D</a>
    </p>
  </div>
</div>
{% endblock %}