{% extends 'base.html' %} 
{% block title %} Fruits {% endblock %} 
{% block body%}

{% endblock %}
{% load static %}

    
{% block section %}

{% for product, range, nSlides in tabfruits %}  
<div class="hero-wrap hero-bread" style="background-image: url('static/images/category-3.jpg');"></div>
    <div class="container">
        <div class="row no-gutters slider-text">
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil</a></span> <span>/{{product.0.category}}</span></p>
        </div>
        <div class="col-md ftco-animate">
            <h1 class="mb-0 bread">Fruits</h1>
            <h3 class="mb-0 "> Sélection de fruits de saison </h3>

            <p>Découvrez la sélection de fruits faite par votre primeur « La case à accras » aux Gosier. Soucieux de la qualité des produits qu'il propose à sa clientèle, votre maraîcher privilégie les fruits de saison et issus de la production Guadeloupéenne.</p> 
            <p>A La case à accras vous trouverez toutes sortes de fruits vendus à la pièce ou par lot de 125g à 500g : bananes, fruits-à-pain, avocat, mangues, etc... Il y en a pour tous les goûts ! Votre primeur La case à accras vous souhaite une bonne dégustation de produits frais.</p>
        </div>
            
    
            
        <section class="ftco-section">
            <div class="row">        
                        {% for i in product %}            
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <div class="product">
                                    <img class="img-fluid" src="/media/{{i.image}}" alt="not found" height="auto" width="300px">
                                        <!--<span class="status">30%</span>-->
                                        <!--<div class="overlay"></div>-->
                                        <div class="card-body">
                                            <h3 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h3>
                                            <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                                            <h6 class="card-title" >Prix: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>

                                                <span  id="pricepr{{i.id}}"></span>                                                
                                        
                                            <span id="divpr{{i.id}}" class="divpr">
                                                <button id="pr{{i.id}}" class=" btn btn-danger panier btn-sm mt-0">
                                                ajouter a panier
                                                </button>
                                            </span>

                                        </img>
                                    </div>
                                </div>
                            
                            </div>
                           
                        {% endfor %}
            </div>    
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endfor %}


{% endblock %}




    

