{% extends 'base.html' %} 
{% block title %} Légumes {% endblock %} 
{% block body%}

{% load static %}

    
<div class="hero-wrap hero-bread" style="background-image: url('static/images/category-3.jpg');"></div>
    <div class="container">
        {% for product, range, nSlides in legumes %}  

        <div class="row no-gutters slider-text">
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Accueil</a></span> <span>/{{product.0.category}}</span></p>
        </div>
        <div class="col-md ftco-animate">
            <h1 class="mb-0 bread">{{product.0.category}}</h1>
            <h3 class="mb-0 "> Sélection de {{product.0.category}} de saison </h3>
           
            <p>Votre primeur « La case à accras » au Gosier a sélectionné pour vous les meilleurs légumes de saison.</p> 
            <p>Votre maraîcher privilégie les légumes de production française afin de vous assurer de trouver des produits de qualité toute l'année ! Peu importe la saison, vous trouverez des légumes divers et variés pour cuisiner toutes vos envies : soupes, miguan, gratins, ragoût, etc... </p>
            <p>Les étals de votre primeur regorgent également de nombreuses plantes aromatiques qui vous permettront d'apporter différentes saveurs à vos plats cuisinés (menthe, laurier, thym, café, etc...). </p>
        </div>
            
        <section class="ftco-section">
            <div class="row">        
                        {% for i in product %}            
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <div class="product">
                                    <img class="img-fluid" src="/media/{{i.image}}" alt="not found" height="auto" width="300px">
                                        <!--<span class="status">30%</span>-->
                                        <!--<div class="overlay"></div>-->
                                        <div class="card-body">
                                            <h3 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h3>
                                            <p class="card-text">{{i.desc|slice:"0:12"}}...</p>
                                            <h6 class="card-title" >Prix: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>

                                                <span  id="pricepr{{i.id}}"></span>                                                
                                        
                                                <span id="divpr{{i.id}}" class="divpr">
                                                    <button id="pr{{i.id}}" class=" btn btn-danger panier btn-sm mt-0">
                                                    ajouter a panier
                                                    </button>
                                                </span>
                                        </div>
                                    </img>
                                    
                                </div>
                            
                            </div>
                           
                        {% endfor %}
            </div>    
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}

    </div>

</div>



{% endblock %}




    

