{% extends 'base.html' %} 

{% block title %} Login {% endblock %} 

{% block content %}

<div class="card bg-light p-5">
  {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fabe show" role="alert">
        <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">X</button>
    </div>
  {% endfor %}

  <h3 data-aos="fake-up text-dark">Connectez-vous avec votre adresse e-mail</h3>
  <form action="/auth/login/" method="post">
    {% csrf_token %}
   <br/>
   <label for="email">Email</label>
   <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" required >
   </div>
   <label for="pass1">Mot de passe</label>
   <div class="form-group">
    <input type="password" class="form-control" id="pass1" name="pass1" required >
   </div>
  
   <br/>
   <button type="submit" class="btn btn-dark">Je me connecte</button>
  
   <br/>
   <button type="button" class="btn button-medium"><div>Mot de passe oublié&nbsp;?</div></button>
  </form>
</div>
{% endblock %}