{% extends 'base.html' %} 
{% block title %} RGPD {% endblock %} 
{% block body %}
<div class="container">
    <div class="row no-gutters slider-text">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil</a></span> <span>/ RGPD </span></p>
    </div>
    <div class="col-md ftco-animate">
      <h1 class="mb-0 bread">Politique de confidentialité des données </h1>
      <h2 class="mb-0 bread"></h2>
      <h3 class="mb-0 bread">ARTICLE 1 : PRÉAMBULE</h3>
        <p>La présente politique de confidentialité a pour but d’informer les utilisateurs du site : Sur la manière dont sont collectées leurs données personnelles. Sont considérées comme des données personnelles, toute information permettant d’identifier un utilisateur. 
            A ce titre, il peut s’agir : de ses noms et prénoms, de son âge, de son adresse postale ou email, de sa localisation ou encore de son adresse IP (liste non-exhaustive) ; 
        </p>
        <p>Sur les droits dont ils disposent concernant ces données ; Sur la personne responsable du traitement des données à caractère personnel collectées et traitées ; Sur les destinataires de ces données personnelles ;  
            Sur la politique du site en matière de cookies.  </p>
        <p>Cette politique complète <a href="/mentionLegale"> les mentions légales </a> et <a href="#">les Conditions Générales d’Utilisation </a> consultables par les utilisateurs à l’adresse suivante :  </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p> 

              
            
             
            
            

    </div>
  
</div>
{% endblock %}

