{% extends 'base.html' %} 

{% block title %} Sign-up {% endblock %} 

{% block content %}

<div class="card bg-light p-5">
  {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fabe show" role="alert">
        <strong></strong>{{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">X</button>
    </div>
  {% endfor %}

  <h3 data-aos="fake-up text-dark">Sign-up</h3>
  <form action="/auth/login/" method="post">
    {% csrf_token %}
   <br/>
   <label for="email">Email</label>
   <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" required >
   </div>
   <label for="pass1">Mot de passe</label>
   <div class="form-group">
    <input type="password" class="form-control" id="pass1" name="pass1" required >
   </div>
   <label for="pass1">Confirmer mot de passe</label>
   <div class="form-group">
    <input type="password" class="form-control" id="pass2" name="pass2" required >
   </div>
   <br>
   <button type="submit" class="btn btn-dark">SignIn</button>
    Déjà utilisateur? <a href="/auth/login/">Login</a>
   <br />
   <br>
  </form>
</div>
{% endblock %}